[user]
	email = sungbin246@gmail.com
	name = seongbin lim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = true
[alias]
	s = status
    graph = log --oneline --decorate --graph --all
    wdiff = diff --word-diff
[commit]
	verbose = true
