/*
!.gitignore
!README.md
!diff_config.sh
!create_symlinks.sh

!.inputrc
!.profile
!.xinitrc
!.Xresources
!.zshrc
!.zprofile
!.bash_aliases
!.bashrc
!.bash_profile
!.condarc
!.tmux.conf
!.gitconfig
!.zshignore

# config
!.config/
.config/*
!.config/.profile
!.config/dunst/
.config/dunst/dunst.log
!.config/bspwm/
!.config/sxhkd/
!.config/lf/
!.config/mpv/
.config/mpv/watch_later/*
.config/mpv/playlists/
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/init.lua
!.config/nvim/lsp_requirements.txt
!.config/nvim/colors/
!.config/nvim/lua/
!.config/nvim/after/
!.config/ranger/
.config/ranger/*
!.config/ranger/rifle.conf
!.config/polybar/
!.config/fontconfig/
!.config/myhosts
!.config/acpi_handler.sh
!.config/dwm
!.config/dircolors.trapd00r
!.config/picom.conf
!.config/sxiv/
!.config/newsboat/
!.config/unicode/
.config/unicode/*.html
!.config/.Xmodmap
!.config/firefox
!.config/alacritty
!.config/pulse/
.config/pulse/*
!.config/pulse/default.pa
!.config/gtk-3.0/
!.config/mpd
!.config/ncmpcpp
.config/ncmpcpp/error.log
!.config/thunderbird
!.config/openurl.desktop
!.config/bottom/
!.config/tlp.conf
!.config/fd/
!.config/nsxiv/
!.config/hypr/
!.config/waybar/
!.config/wezterm/
!.config/uv/
!.config/tmux/
!.config/foot/
!.config/systemd/
.config/systemd/user/*
!.config/systemd/user/chbg.*
!.config/bat/
!.config/ghostty/

# local/bin
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/share/
!.local/bin/audio_toggle
!.local/bin/brightness_down
!.local/bin/brightness_up
!.local/bin/gm-capture
!.local/bin/gm-snipping
!.local/bin/dmenuunicode
!.local/bin/emojicode
!.local/bin/chbg
!.local/bin/rclone-zotero
!.local/bin/unix
!.local/bin/vim
!.local/bin/dmenu_run2
!.local/bin/playsound
!.local/bin/timer
!.local/bin/reboot
!.local/bin/poweroff
!.local/bin/rich_markdown
!.local/bin/blocks
!.local/bin/gdrivedl
!.local/bin/grub-update
!.local/bin/256colortest
!.local/bin/dmount
!.local/bin/dumount
!.local/bin/dmenupass
!.local/bin/sel_monitor
!.local/bin/spotify
!.local/bin/dmenu_lang
!.local/bin/torrent
!.local/bin/check_running
!.local/bin/covid
!.local/bin/covid_echo
!.local/bin/news
!.local/bin/nbflatten
!.local/bin/pictopic
!.local/bin/alacritty_spawn_cwd
!.local/bin/currency
!.local/bin/blueman
!.local/bin/brave
!.local/bin/tsm
!.local/bin/kakaotalk
!.local/bin/compress
!.local/bin/decompress
!.local/bin/attack_vpn
!.local/bin/open_url
!.local/bin/fontpreview-ueberzug
!.local/bin/dict
!.local/bin/play_pause
!.local/bin/play_next
!.local/bin/play_previous
!.local/bin/pw_volume_up
!.local/bin/pw_volume_down
!.local/bin/pw_audio_toggle
!.local/bin/printer
!.local/bin/notify-users
!.local/bin/watch_later
!.local/bin/toggle_sticky
!.local/bin/youtube-dl
!.local/bin/mpv-ytdl
!.local/bin/project_root
!.local/bin/print_mediainfo
!.local/bin/lf-tmux
!.local/bin/change_bspwm_floating_border
!.local/bin/_make_tmux_session
!.local/bin/hypr_ddspawn
!.local/bin/hypr_fullscreen
!.local/bin/chat
!.local/bin/chat-ollama
!.local/bin/note
!.local/bin/_hypr_prev_workspace
!.local/bin/_hypr_next_workspace
!.local/bin/se
!.local/bin/se.bash
!.local/bin/tmux-ns
!.local/bin/wt

# pacman package
!.config/pacmanQ
!.config/pacmanQe
!.config/pacmanQet
