/*
!.gitignore
!README.md

!.inputrc
!.profile
!.xinitrc
!.Xresources
!.bash_aliases
!.bashrc
!.bash_profile
!.condarc

# config
!.config/
.config/*
!.config/dunst/
!.config/i3/
!.config/i3blocks/
!.config/lf/
!.config/mpv/
.config/mpv/watch_later/*
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/ranger/
.config/ranger/*
!.config/ranger/rifle.conf
!.config/polybar/
!.config/fontconfig/

# local/bin
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/chbg
!.local/bin/dante
!.local/bin/rclone-zotero
!.local/bin/unix
!.local/bin/vim

# ssh
!.ssh/
.ssh/*
!.ssh/config

# pacman package
!.config/pacmanQ
!.config/pacmanQe
!.config/pacmanQet
