[user]
    name = Seongbin Lim
    email = sungbin246@gmail.com
[alias]
    s = status
    graph = log --oneline --decorate --graph --all
    wdiff = diff --word-diff
[merge]
    conflictstyle = diff3
    tool = vimdiff
